<h1>Cocktail</h1>


<p>Hello pick your favorite cocktail</p>



<% @cocktails.each do |cocktail| %>

 <li> <%= @cocktails.name %> </li>
 <%= link_to "show vers #{cocktail.name}", cocktail_path(cocktail)%>
  <% end %>


