<h1>!Hola muchachos, muchachas!</h1>


<p>Welcome to our virtual bar. <br>
Please pick your favorite cocktail</p>


<%= cl_image_tag("https://images.pexels.com/photos/1189257/pexels-photo-1189257.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt:"Cocktail-francisco",
      width: 400, height: 300, crop: :fill) %>







<% @cocktails.each do |cocktail| %>

 <li> <%= @cocktails.name %> </li>
 <%= link_to "Decouvrez nos #{cocktail.name}", cocktail_path(cocktail)%>
  <% end %>


