<h1> Mojito</h1>


<p>(cocktail page show)</p>


<%= cl_image_tag("https://images.pexels.com/photos/1189257/pexels-photo-1189257.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt:"Cocktail-francisco",
      width: 600, height: 500, crop: :fill) %>


<%= @cocktail.name %>


